
<div class=" col-5 card m-4">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body align-items-center">
    <h5 class="card-title"><%= book.title%></h5>
    <p class="card-text"><%= book.summery%></p>
    <a href="<%= book_path(book) %>" class="btn btn-primary align-items-center">Read</a>
  </div>
</div>