
<div class="row  ">
<div class=" col col-md-10 mr-0 align-items-center">
    <div class="container  p-1 ml-0 mr-0 ">
        <h1 class="text-center">Books</h1>
        <div class=" row row-cols-3 d-flex justify-content-center">
             <%= render @books%>
        </div>
    </div>
</div>
<div class = ' col col-md m-0 mt-4'>
							<h3 class = 'mb-4'>Recent</h3>
							<% tag_list (Tag.counts) do |tag| %>
							<%= link_to tag.name, tag_path(tag.name), class: "tag" %>
							<% end %>	
						</div>
                        </div>
<%= will_paginate @books %>